<p id="notice"><%= notice %></p>

<p>
  <strong>Pname:</strong>
  <%= @purpose.pname %>
</p>

<p>
  <strong>Department:</strong>
  <%= @purpose.department_id %>
</p>

<%= link_to 'Edit', edit_purpose_path(@purpose) %> |
<%= link_to 'Back', purposes_path %>
