<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bname %><br>
    <%= f.text_field :bname %>
  </div>
  <div class="field">
    <%= f.label :bacno %><br>
    <%= f.text_field :bacno %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
